In [1]:
import pandas as pd

# Sample data
data = {
    'ticker': ['AAPL', 'AAPL', 'AAPL', 'MSFT', 'MSFT', 'MSFT'],
    'date': pd.date_range(start='2023-01-01', periods=3).tolist() * 2,
    'close': [154, 156, 158, 204, 206, 208],
    'volume': [10000, 11000, 12000, 20000, 21000, 22000]
}

df = pd.DataFrame(data)
df.set_index(['date', 'ticker'], inplace=True)
print("Original DataFrame:")
print(df)

Original DataFrame:
                   close  volume
date       ticker
2023-01-01 AAPL      154   10000
2023-01-02 AAPL      156   11000
2023-01-03 AAPL      158   12000
2023-01-01 MSFT      204   20000
2023-01-02 MSFT      206   21000
2023-01-03 MSFT      208   22000

In [2]:
# Group by ticker
grouped_by_ticker = df.groupby('ticker')

print("\nGrouped by ticker:")
for name, group in grouped_by_ticker:
    print(f"\nGroup: {name}")
    print(group)

Grouped by ticker:

Group: AAPL
                   close  volume
date       ticker
2023-01-01 AAPL      154   10000
2023-01-02 AAPL      156   11000
2023-01-03 AAPL      158   12000

Group: MSFT
                   close  volume
date       ticker
2023-01-01 MSFT      204   20000
2023-01-02 MSFT      206   21000
2023-01-03 MSFT      208   22000

In [3]:
# Group by both date and ticker
grouped_by_both = df.groupby(['date', 'ticker'])

print("\nGrouped by date and ticker:")
for name, group in grouped_by_both:
    print(f"\nGroup: {name}")
    print(group)

Grouped by date and ticker:

Group: (Timestamp('2023-01-01 00:00:00'), 'AAPL')
                   close  volume
date       ticker
2023-01-01 AAPL      154   10000

Group: (Timestamp('2023-01-01 00:00:00'), 'MSFT')
                   close  volume
date       ticker
2023-01-01 MSFT      204   20000

Group: (Timestamp('2023-01-02 00:00:00'), 'AAPL')
                   close  volume
date       ticker
2023-01-02 AAPL      156   11000

Group: (Timestamp('2023-01-02 00:00:00'), 'MSFT')
                   close  volume
date       ticker
2023-01-02 MSFT      206   21000

Group: (Timestamp('2023-01-03 00:00:00'), 'AAPL')
                   close  volume
date       ticker
2023-01-03 AAPL      158   12000

Group: (Timestamp('2023-01-03 00:00:00'), 'MSFT')
                   close  volume
date       ticker
2023-01-03 MSFT      208   22000

## Grouping by a Specific Level in Multi-Index

In [4]:
# Group by the 'date' level
grouped_by_date = df.groupby(level='date')

print("\nGrouped by date:")
for name, group in grouped_by_date:
    print(f"\nGroup: {name}")
    print(group)

Grouped by date:

Group: 2023-01-01 00:00:00
                   close  volume
date       ticker
2023-01-01 AAPL      154   10000
           MSFT      204   20000

Group: 2023-01-02 00:00:00
                   close  volume
date       ticker
2023-01-02 AAPL      156   11000
           MSFT      206   21000

Group: 2023-01-03 00:00:00
                   close  volume
date       ticker
2023-01-03 AAPL      158   12000
           MSFT      208   22000

In [6]:
# Group by the 'ticker' level
grouped_by_ticker_level = df.groupby(level='ticker')

print("\nGrouped by ticker (level):")
for name, group in grouped_by_ticker_level:
    print(f"\nGroup: {name}")
    print(group)

Grouped by ticker (level):

Group: AAPL
                   close  volume
date       ticker
2023-01-01 AAPL      154   10000
2023-01-02 AAPL      156   11000
2023-01-03 AAPL      158   12000

Group: MSFT
                   close  volume
date       ticker
2023-01-01 MSFT      204   20000
2023-01-02 MSFT      206   21000
2023-01-03 MSFT      208   22000